            @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:wght@100&family=Bitter:wght@200&family=Explora&family=Indie+Flower&family=Open+Sans:ital,wght@0,500;1,700&family=Poppins:wght@100&display=swap');
            * {
                margin: 0;
                padding: 0;
                font-family: 'Poppins', sans-serif;
                box-sizing: border-box;
            }
            
            body {
                height: 100vh;
                width: 100vw;
                background-color: #9b334f;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
                font-weight: 900;
                font-size: 30px;
                position: relative;
                background-attachment: fixed;
            }
            
            h3 {
                color: #BFDB38;
                font-size: 50px;
                font-weight: 1px;
                content: attr(data);
                position: absolute;
            }
            
            h3::after {}
            
            .frame {
                width: 300px;
                height: 200px;
                position: absolute;
                bottom: -150px;
                margin-left: 40px;
                margin-bottom: 200px;
                background-color: #0a0809;
                padding: 5px;
                border: 30px solid #1a3466;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                color: #BFDB38;
                font-size: 40px;
                text-align: center;
                line-height: 130px;
            }
            
            @font-face {
                font-family: digital-7;
                src: url(digital\ no/digital-7);
            }
            
            .clock {
                font-family: digital-7;
                color: #BFDB38;
                text-shadow: 0 0 20px rgb(255, 0, 0);
            }
            
            .clock::before {
                /*this part is help to copy the current element in html*/
                content: attr(data-text);
                position: absolute;
                left: 0;
                right: 6px;
                filter: blur(10px);
                opacity: 0.7;
                filter: blur(20px);
                font-color: #BFDB38;
            }
            
            .clock::after {
                /*this part is help to copy the current element in html*/
                content: attr(data-text);
                position: absolute;
                left: 0;
                right: 6px;
                color: #BFDB38;
                filter: blur(10px);
            }